{% extends 'basic_app/base.html' %}

{% block body_block %}
    
    <div class="jumbotron">
        <div class="container">
            <h1>Please Log In!</h1>
            <p>Username and password</p>
            
            <form action="{% url 'basic_app:user_login' %}" method="POST" role="form">
                <legend>Login</legend>
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            
            
        </div>
    </div>
    
{% endblock body_block %}
    